body {
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: #111827;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #6366f1;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
